@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAuthService AuthService 

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity!.Name!  | @UserModel.IdFarmhouse
        <a href="LogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private UserDto UserModel = new UserDto();
    
    protected async override Task OnInitializedAsync()
    {

        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity.Name;

        UserModel = await AuthService.GetUser(name);
        Console.WriteLine(UserModel.Name);
        Console.WriteLine(UserModel.IdFarmhouse);
    }
}