@page "/contact"
@inject UtilsService UtilsService


<h3>Contact</h3>
<MudButton OnClick='() => UtilsService.OpenDialogSendMessage()' Variant="Variant.Filled" Color="Color.Info">@loc["Farmhouse_Send_Message"]</MudButton>

@code {
    private string email = "Hey to probny email";
}
