@page "/contact"
@inject UtilsService UtilsService


<h3>@loc["X_Contact"]</h3>
<MudButton OnClick='() => UtilsService.OpenDialogSendMessage()' Variant="Variant.Filled" Color="Color.Info">@loc["Farmhouse_Send_Message"]</MudButton>

@code {

}
