@page "/contact"
@inject UtilsService UtilsService


<h3>Contact</h3>
<MudButton OnClick='() => UtilsService.OpenDialogSendMessage(loc["Farmhouse_Contact_Form"], loc["Farmhouse_Send"], email, Color.Primary)' Variant="Variant.Filled" Color="Color.Info">@loc["Farmhouse_Send_Message"]</MudButton>

@code {
    private string email = "Hey to probny email";
}
