@page "/product/{id:int}"
@inject IProductService ProductService

<PageTitle>Product</PageTitle>

<h2>TODO / albo usunąć detail - bo co tutaj dać to samo co w tabeli + zdjęcie jakiś schemat przygotować pod to CARD i na do przełącznik do kolejnego elementu od nich oraz do farmhouse - na widoku farmhouse powinno być przejśćie do wszystkich produktów teog farmhouse</h2>
<h2>@product.Name - @product.Id</h2>

@if (product.ImageData != null && !string.IsNullOrEmpty(product.ImageMimeType))
{
    <img src="@($"data:{product.ImageMimeType};base64,{Convert.ToBase64String(product.ImageData)}")" alt="Product Image" />
}

@code {
    [Parameter]
    public int Id { get; set; }

    Product product = new Product();

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            product = await ProductService.GetProduct(Id);
        }
    }
}
