@inject IJSRuntime JS

@if (showBanner)
{
    <div class="cookies-banner">
        <button class="close-btn" @onclick="HideBanner">✕</button>
        <div class="cookies-text">
            @loc["X_Cookies"]
            <br />
            <div>@loc["X_Cookies_2"] <a href="/privacy policy.pdf" target="_blank">@loc["X_Privacy_Policy"]</a>.</div>
        </div>
        <button class="accept-btn" @onclick="AcceptCookies">@loc["X_Accept"]</button>
    </div>
}

@code {
    private bool showBanner = false;

    protected override async Task OnInitializedAsync()
    {
        var accepted = await JS.InvokeAsync<string>("localStorage.getItem", "cookiesAccepted");
        showBanner = string.IsNullOrEmpty(accepted);
    }

    private async Task AcceptCookies()
    {
        await JS.InvokeVoidAsync("localStorage.setItem", "cookiesAccepted", "true");
        showBanner = false;
    }

    private void HideBanner()
    {
        showBanner = false;
    }
}