.message-container {
    display: flex;
    margin: 8px 0;
    width: 100%;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.message-box {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    word-wrap: break-word;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sent-message {
    background-color: #007bff;
    color: white;
    border-bottom-right-radius: 0;
}

.received-message {
    background-color: #e5e5e5;
    color: black;
    border-bottom-left-radius: 0;
}

.date {
    justify-content: center;
}

.my-chat-link .mud-nav-link-text {
    margin-left: 0 !important;
}

.my-chat-link .link-chat {
    margin-left: 8px !important;
}

.bold-text {
    font-weight: bold;
}

.chat-user-outer-container {
    height: calc(100vh - 155px);
    overflow: hidden;
    border-radius: 4px;
}

.chat-user-inner-scroll {
    overflow-y: auto;
    height: 100%;
    scrollbar-width: thin;
}

.chat-user {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

    .chat-user:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        background-color: var(--mud-palette-action-default-hover);
    }

        .chat-user:hover .mud-typography {
            color: #0a58ca !important;
        }

.active-chat {
    background-color: rgba(33, 150, 243, 0.2) !important;
    border: 2px solid #2196F3 !important;
}

    .active-chat .mud-typography {
        color: #1976D2 !important;
        font-weight: bold;
    }

.chat-message-container {
    margin: 20px;
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: auto;
}

.mud-grid-spacing-xs-3 {
    width: calc(100% + 0px);
    margin: 0px;
}

.chat-messages {
    overflow: auto;
    margin-bottom: 20px;
    box-shadow: none;
}

.card-action-extra {
    flex-direction: column;
    align-items: flex-start;
}

.card-action-date {
    font-size: 11px;
}

.footer {
}