﻿.list-products {
    background-color: #471ccf !important;
}

.dashboard-paper-name-farmhouse {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
}

.dashboard-button {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.mud-dialog-width-sm {
    width: 50% !important;
}