﻿.list-products {
    background-color: #471ccf !important;
}

.dashboard-paper-name-farmhouse {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
}

.dashboard-button {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.mud-dialog-width-sm {
    width: 50% !important;
}

.mud-tooltip-root.mud-tooltip-inline{
    width: 100%;
}

.product-details-button {
    width: 15rem;
}

.flex-column-gap {
    column-gap: 4px;
}

.input-search {
    max-width: 33vw;
}

/* Note Start*/

.flip-card {
    perspective: 1000px;
    margin-bottom: 6rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 112px;
    backface-visibility: hidden;
    /* Center elements */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc !important;
    border-radius: 16px;
}

.flip-card-front {
    background-color: var(--surface-color);
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: var(--background-color);
}

.position-indicators {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    max-width: 230px;
}

.indicator {
    width: 30%;
    height: 10px;
    background-color: var(--gray-primary);
    border-radius: 3px;
}

    .indicator.active {
        background-color: var(--button-warning);
    }

.noteText {
    max-height: 91px;
    overflow: scroll;
}

.noteButtonFilter {
    min-width: 230px !important;
}

#noteMudGrid {
    width: 100% !important;
    margin: 0px !important;
}

/* Note End*/

.titlePage {
    height: 64px;
    display: flex;
    align-items: center;
}

.mudPaperTop {
    border-radius: 4px 4px 0 0 !important;
}

.mudPaperBottom {
    border-radius: 0 0 4px 4px !important;
}

.borderTableFarmhouses {
    border: 2px solid var(--border) !important;
}