﻿.list-products {
    background-color: #471ccf !important;
}

.dashboard-paper-name-farmhouse {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
}

.dashboard-button {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.mud-dialog-width-sm {
    width: 50% !important;
}

.mud-tooltip-root.mud-tooltip-inline{
    width: 100%;
}

.product-details-button {
    width: 15rem;
}

.flex-column-gap {
    column-gap: 4px;
}

/* Note Start*/

.flip-card {
    perspective: 1000px;
    margin-bottom: 6rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 112px;
    backface-visibility: hidden;
    /* Dodane do wycentrowania elementów */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc !important;
    border-radius: 16px;
}

.flip-card-front {
    /* Przednia strona, widoczna tylko przy braku obrotu */
    background-color: #fff; /* Można dodać dowolne tło */
}

.flip-card-back {
    /* Tylna strona, widoczna tylko po obrocie */
    transform: rotateY(180deg);
    background-color: #f0f0f0; /* Dodaj tło dla tylnej strony */
}

.position-indicators {
    display: flex; /* Flexbox dla wskaźników */
    justify-content: space-between; /* Równomierne rozmieszczenie */
    margin-top: 10px; /* Odstęp od przycisku */
    width: 100%; /* Szerokość wskaźników taka sama jak szerokość przycisku */
    max-width: 230px; /* Możesz ograniczyć maksymalną szerokość */
}

.indicator {
    width: 30%; /* Każdy wskaźnik zajmuje 30% miejsca */
    height: 10px; /* Wysokość wskaźnika */
    background-color: #ccc; /* Domyślny kolor wskaźnika (szary) */
    border-radius: 3px; /* Zaokrąglenie rogów */
}

    .indicator.active {
        background-color: #ffc107; /* Kolor dla aktywnego wskaźnika (zgodny z przyciskiem Warning w MudBlazor) */
    }
/*TODO: margin-left:10 px powinno być tylko jak jest dużo wierszy*/

.noteText {
    max-height: 91px;
    overflow: scroll;
}

.noteButtonFilter {
    min-width: 230px !important;
}

#noteMudGrid {
    width: 100% !important;
    margin: 0px !important;
}

/* Note End*/