@page "/account/logindisplay"
@inject IAccountService AccountService
@inject UserStateService UserStateService

<AuthorizeView>
    <Authorized>
        <div>FullName: @UserStateService.CurrentUser?.FullName</div>
        <div>UserName: @UserStateService.CurrentUser?.UserName</div>
        <div>FarmhouseId: @UserStateService.CurrentUser?.IdFarmhouse</div>
        <div>Farmhouse: @UserStateService.CurrentUser?.FarmhouseName</div>
    </Authorized>
</AuthorizeView>

@code {
    // private UserDto currentUser = new UserDto()
    //     {
    //         UserName = "",
    //         IdFarmhouse = 0,
    //         FarmhouseName = ""
    //     };
    // private bool isUserSignUp;

    // protected async override Task OnInitializedAsync()
    // {
    //     isUserSignUp = await AccountService.IsUserSignUp();

    //     if (isUserSignUp)
    //     {
    //         currentUser = await AccountService.GetCurrentUser();
    //         UserStateService.CurrentUser = currentUser;
    //     }
    // }
}