@page "/account/logindisplay"
@namespace LocalFarmer2.Client.Pages.Account
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAccountService AccountService 
@inject UserStateService UserStateService

<AuthorizeView>
    <Authorized>
        @* @context.User.Identity!.Name! *@
        @currentUser?.Name
        <p>@currentUser?.IdFarmhouse</p>
    </Authorized>
</AuthorizeView>

@code{
    private UserDto? currentUser;
    private bool isUserSignUp;

    protected async override Task OnInitializedAsync()
    {
        isUserSignUp = await AccountService.IsUserSignUp();

        if (isUserSignUp)
        {
            currentUser = await AccountService.GetCurrentUser();
            UserStateService.CurrentUser = currentUser;
        }
    }
}