@page "/myaccount"
@inject IMapper mapper;
@inject IAccountService AccountService
@inject IAlertService AlertService
@inject UserStateService UserStateService
@inject NavigationManager NavigationManager

@if (userDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AuthorizeView>
        <EditForm Model="userDto" OnValidSubmit="OnValidSubmit" Context="editForm">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudText Class="d-flex justify-center" Typo="Typo.h6">@loc["Account_My_Account"]</MudText>
                    <MudPaper Class="pa-4">
                        <MudTextField T="string" Label="@loc["Account_Full_Name"]" @bind-Value="userDto.FullName" Required="true" RequiredError="@loc["Validation_Required"]" />
                    </MudPaper>
                    <MudPaper Class="pa-4 mt-4">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@loc["X_Save"]</MudButton>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </EditForm>
    </AuthorizeView>
}


@code {
    [Parameter]
    public UserDto userDto { get; set; }

    protected async override Task OnInitializedAsync()
    {
        bool isUserSignUp = await AccountService.IsUserSignUp();

        if (isUserSignUp)
        {
            userDto = await AccountService.GetCurrentUser();
        }
        else
        {
            throw new Exception("You aren't logged");
        }
    }

    private async void OnValidSubmit(EditContext context)
    {
        var editDto = mapper.Map<EditUserDto>(userDto);
        await AccountService.EditUser(editDto);
        UserStateService.CurrentUser.FullName = editDto.FullName;
        AlertService.SetSuccessAlert($"You new Fullname is: {editDto.FullName}");
        NavigationManager.NavigateTo("/");
        _ = AlertService.ClearAlertAfterDelay();
    }
}
